@font-face{font-family:'PlayfairDisplaySCRegular';src:url('fonts/PlayfairDisplaySCRegular.eot');src:url('fonts/PlayfairDisplaySCRegular.eot') format('embedded-opentype'),
url('fonts/PlayfairDisplaySCRegular.woff2') format('woff2'),
url('fonts/PlayfairDisplaySCRegular.woff') format('woff'),
url('fonts/PlayfairDisplaySCRegular.ttf') format('truetype'),
url('fonts/PlayfairDisplaySCRegular.svg#PlayfairDisplaySCRegular') format('svg');}
@font-face{font-family:'GillSansMTProMedium';src:url('fonts/GillSansMTProMedium.eot');src:url('fonts/GillSansMTProMedium.eot') format('embedded-opentype'),
url('fonts/GillSansMTProMedium.woff2') format('woff2'),
url('fonts/GillSansMTProMedium.woff') format('woff'),
url('fonts/GillSansMTProMedium.ttf') format('truetype'),
url('fonts/GillSansMTProMedium.svg#GillSansMTProMedium') format('svg');}
@font-face{font-family:'GillSansMTProBook';src:url('fonts/GillSansMTProBook.eot');src:url('fonts/GillSansMTProBook.eot') format('embedded-opentype'),
url('fonts/GillSansMTProBook.woff2') format('woff2'),
url('fonts/GillSansMTProBook.woff') format('woff'),
url('fonts/GillSansMTProBook.ttf') format('truetype'),
url('fonts/GillSansMTProBook.svg#GillSansMTProBook') format('svg');}
body{font-family:'LatoRegular';font-size:16px;color:#414141;overflow-x:hidden;background:#fff;}
a{text-decoration:none;transition:all 0.5s;color:#fe9200}
a:hover,a:focus,a:active{text-decoration:none;outline:0}
img{max-width:100%}
.lif_left h3 { font-size: 35px;margin: 0;text-transform: uppercase; letter-spacing: 2px;color: #fdf498;}
.clr { clear: both;}.srp {clear: both;text-align: center; margin: 0 50px 0 auto;}
.lif_left h5 {color: #fefefe;font-size: 17px;font-weight: 600;}
.lif_left {color: #fff;}
.loc_left { width: 90%;}.loc_right {margin-right: -55px;}
.quest {  color: #BD8820; font-size: 23px; letter-spacing:2px;text-transform: uppercase;}
.tbg_left { margin-top: -20px;}.pd{width:90%;margin:0 auto;}
.flw{width:100%;text-align:center;}
.tre1 h5 { color: #FDF498;min-height: 38px; font-size: 18px; padding-top: 5px;font-family: 'Bodoni';}
.tre1 p {  color: #fff; font-size: 14.8px;    }
.lift {color: #FDF498; text-transform: uppercase;font-size: 23px;}
img.tbg { margin-top:-20px;transform: rotateX(180deg);}
.loc_left h3 { font-size: 35px; text-transform: uppercase;    margin: 0; color: #006357;letter-spacing:2px;}
.loc_left h5 { font-size: 17px; margin: 15px 20% 30px 20%;color: #222;    }
.sprgt{margin-top: -5px;transform: rotateX(180deg);}.splft { margin-top: -5px;}
.sprgt2{width:50px;margin-top: -5px;transform: rotateX(180deg);}.splft2{width:50px; margin-top: -5px;}
.pres { font-size: 30px;text-transform: uppercase; color: #f2f2f2;
    font-family: 'Bodoni'; display: inline;line-height: 55px;letter-spacing: 4px;}
h2.pr_name {font-size: 48px;display: block;color: #FDF498; margin: 0 auto;text-transform: uppercase;text-align: center;letter-spacing: 8px;    }
.codename{background:url('images/codenbg.jpg');height:650px;width:100%;background-size:100% 100%;}
.location{background:url('images/locatbg.png');height:650px;width:100%;background-size:100% 100%;}
.lifestyle{background:url('images/lifesbg.png');width:100%;height:650px;background-size:100% 100%;}
.tre1{width:17%;text-align:center;margin:0;float:left;font-family:'Bodoni';}
.dgn{width: 3%;margin: 70px 4px 0 4px;float: left;text-align:center;}
.grybrd{background:#ddd;height:3px;width:100%;margin:60px auto;text-align:center;}
.brwn{background:#BD8820;width:35px; height:3px;margin:10px auto 5px auto;text-align:center;}
.brwn2{background:#FDF498;width:40px;height:2px;margin:10px auto;text-align:center;}
.goldbr{background:#BD8820;width:40px; height:4px;margin:25px auto 5px auto;text-align:center;border-radius:10px;}
.googlmap{ padding: 0 40px 0 60px;}
strong,.lato-bold{font-family:'LatoBold';font-weight:normal;font-style:normal}
section{position:relative}
.gill-medium{font-family:'GillSansMTProMedium'!important;letter-spacing:1px;}
.fair-display{font-family:'PlayfairDisplaySCRegular';}
.gill-book{font-family:'GillSansMTProBook';}
.header{position:absolute;top:0;left:0;width:100%;z-index:9;}
.site-logo,.site-logo-holder{line-height:95px}
.banner-caption-form{position:absolute;z-index:99;top:180px;left:3%;width:100%}
.color-white{color:#fff}a:hover {color: #fff;}
.form-holder { background: #fff; border-radius: 20px;box-shadow: -1px 3px 14px 1px #222;z-index: 999;}
.form-title,.form-title>a{color:#000;}
.form-control{border-color:#cfcfcf;border-radius:10px;color:#727272; font-size: 16px;   height: 34px!important;}
.form-control:focus{border-color:#742723;box-shadow:0 0 0 0.2rem rgba(254,153,0,.25);}
.btn-primary{border-radius: 5px;border-color: #BD8820!important; background: #BD8820!important;font-family: 'PlayFairDisplayRegular';
    font-size: 16px; padding: 6px 25px;margin-bottom: 10px;}
.btn.disabled,.btn[disabled],fieldset[disabled].btn{opacity:1;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{color:#951C25;background-color:#fff!important;border-color:#951C25}
.help-block.with-errors{color:#fff;font-size:13px}
.header-links a{font-family:'RobotoRegular';color:#000;line-height:45px;font-size:22px;}
.header-links a:hover{color:#000;text-decoration:none;}
.header-links a i{width:25px;height:25px;line-height:25px;border:1px solid;text-align:center;border-radius:50%;font-size:18px;font-size:bold;color:#000;}
.location-li-margin-top li{margin-top:30px;}
.seven e{font-family: 'Segment7Standard';font-weight: normal;font-style: italic;line-height:100%;font-size:25px;color:#c4171d;display:inline-block;padding:7px 2px 5px 2px;}
.seven span{background-color:#000;padding-top:10px;}
.seven e i{font-family: 'TitilliumWebBold'!important;font-size:30px !important;height:20px;padding-left:5px;vertical-align:middle;}
.bg-yellow{height:auto;}

div#pageTimer {text-align: center;font-size: 20px;width: 100%;color: #fff;padding: 15px 0;height:103px;}
#pageTimer i{text-decoration:none;font-style:normal;background-color:#000;color:red;font-size:16px;line-height:12px;margin-top:-3px;vertical-align:middle;display:inline-block;}
.sticky-btns{font-size:0;position:fixed;bottom:0;left:0;width:100%;z-index:999}
.mobile-width{width:100%;}
.sticky-btns a{background:#EC9722;color:#000;border-top:1px solid #fff;border-right:1px solid #fff;width:100%;text-align:center;display:inline-block;padding:8px 0;font-size:18px;}
.sticky-btns.whatsapp a{background:#34af23;color:#fff}
.sticky-btns a:last-child{border-right:none;}
img.map-center { text-align: center;display: block; margin: 0 auto;}
.dummy-div{height:43px;}
.downl {  border-radius: 20px; background-color: #951C25; border: none;  color: #FFFFFF;
    font-family:'GillSansMTProMedium';letter-spacing: 0.7px; text-align: center;
    font-size: 16px; padding: 10px 20px;transition: all 0.5s; cursor: pointer; margin: 5px;  }
.downl span { cursor: pointer;display: inline-block; position: relative; transition: 0.5s; }
.downl span:after { content: '\00bb'; position: absolute; opacity: 0;top: -5px;font-size: 20px; right: -20px; transition: 0.5s; }  
 .carousel-item img { min-height: 730px;}    
.downl:hover span { padding-right: 25px; }
      .downl:hover span:after {  opacity: 1; right: 0;  }
:-webkit-input-placeholder{color:#727272;}::-moz-placeholder{color:#727272;}:-ms-input-placeholder{color:#727272;}:-moz-placeholder{color:#727272;}
.amenities-bg{background-color:#fffcef;}
@media only screen and (max-width:950px){.banner-caption-form{position:relative;top:0;left:0;background:transparent;border:none;}
/*div#pageTimermob {text-align: center;font-size: 20px;width: 100%;color: #fff;padding: 15px 0;height:103px;}#pageTimermob i{text-decoration:none;font-style:normal;background-color:#000;color:red;
    font-size:16px;line-height:12px;margin-top:-3px;vertical-align:middle;display:inline-block;}*/
.form-holder{background:transparent}
.form-holder:after{display:none}
.form-holder:before{display:none}
.mobile-image-size{width:45%;}}
@media only screen and (max-width:768px){
.tbg_left{display:none;}.pres { font-size: 19px;}h2.pr_name { font-size: 30px;}
.grybrd {width: 90%;margin: 30px auto;}
.pd{width:100%;}img.tbg {  margin: -15px auto 10px auto;display:block;text-align:center;width: 65px;}
 .tre1{width:100%;margin:0 auto;}.googlmap { padding: 0 20px;}.carousel-item img {    min-height: 100%;}
 .codename {height: auto;min-height: 460px;background-size: cover;}
.lifestyle {height: auto;background-size: cover;}
.location {height: auto;background-size: cover;}.carousel-indicators {bottom: -20px;}.loc_left {   
    width: 100%;}.splft { display: none;    }.quest {font-size: 22px;letter-spacing: 0px;}.sprgt { text-align:center;display:block;margin:-5px auto 10px auto;}
.loc_left h3 { font-size: 30px;}.loc_left h5 {margin: 15px 20px;}
 .srp { margin: 0 auto;    }.loc_right { margin-right: -50px;margin-left: -60px;    }
 .splft2 {display: none;} .lift{font-size:22px;}.sprgt2 {text-align:center;display:block;margin:0 auto 10px auto;}
 .lif_left h3 {font-size: 30px;margin: 0 0 20px 0;}

}